<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue - ToDo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-light">
    <h1 class="p-3 mb-2 bg-dark text-white">ToDo List Management App</h1>
    
    <div id='app' class="container">

        <h4>Add new ToDo</h4>

        <input v-model='newTodo.text'>
        <p>{{newTodo.text}}</p>

            <select v-model="newTodo.priority" class="selectpicker">
                <option>Low</option>
                <option>Normal</option>
                <option>High</option>
            </select>

        <button v-on:click='postTodo()' class="btn">Add New</button>

        <ol class="list-group">
            <todo-item  v-for="todo in todos" 
                        :key="todo.id" 
                        :todo="todo"
                        class="list-group-item">
            </todo-item>
        </ol>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="vue.js"></script>
</body>
</html>

